# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
test.sh

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# binary file
kluster-capacity

# conf
pod*.yaml
schedulerconfig
kubeconfig

# IDE
.idea/

